@model TheRoyalTourism.Models.AllModels

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Forms";
}

<div class="pagetitle">
    <h1>Forms</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-action="Dashboard" asp-controller="Admin">Home</a>
            </li>
            <li class="breadcrumb-item active">Forms</li>
        </ol>
    </nav>
</div>

<section class="section">

    @* row 1 *@
    <div class="row">
        @* Add User *@
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add User</h5>

                    <form method="post" asp-controller="Admin" asp-action="AddUser" class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label">Full Name</label>
                            <input class="form-control" asp-for="UserModel.Fullname" />
                            <span class="text-danger" asp-validation-for="UserModel.Fullname"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Email</label>
                            <input class="form-control" asp-for="UserModel.Email" type="email" />
                            <span class="text-danger" asp-validation-for="UserModel.Email"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Phone Number</label>
                            <input class="form-control" asp-for="UserModel.Pnumber" type="number" />
                            <span class="text-danger" asp-validation-for="UserModel.Pnumber"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Password</label>
                            <input class="form-control" asp-for="UserModel.Password" type="password" />
                            <span class="text-danger" asp-validation-for="UserModel.Password"></span>
                        </div>
                        <input type="hidden" asp-for="UserModel.Role" />
                        <div class="text-center">
                            <button type="submit" class="royalbutton col-md-12">Submit</button>
                        </div>
                    </form>
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success">@TempData["Success"]</div>
                    }
                </div>
            </div>
        </div>

        @* Add Destinations *@
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Destinations</h5>

                    <form enctype="multipart/form-data" method="post" asp-controller="Admin" asp-action="AddDestination" class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label">Name</label>
                            <input asp-for="DestinationModel.Dname" class="form-control" type="text" />
                            <span class="text-danger" asp-validation-for="DestinationModel.Dname"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Destination Type</label>
                            <select asp-for="DestinationModel.Dtype" class="form-control">
                                <option value="Domestic">Domestic</option>
                                <option value="International">International</option>
                            </select>
                            <span class="text-danger" asp-validation-for="DestinationModel.Dtype"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Thumbnail</label>
                            <input type="file" asp-for="DestinationModel.Dimg" class="form-control" />
                            <span class="text-danger" asp-validation-for="DestinationModel.Dimg"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="royalbutton col-md-12">Submit</button>
                        </div>
                    </form>
                    @if (TempData["DestinationSuccess"] != null)
                    {
                        <div class="alert alert-success">@TempData["DestinationSuccess"]</div>
                    }

                </div>
            </div>
        </div>

        @* Add Packages *@
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Packages</h5>

                    <form asp-action="AddPackage" asp-controller="Admin" method="post" enctype="multipart/form-data" class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label" asp-for="PackageModel.Pname">Name</label>
                            <input class="form-control" type="text" asp-for="PackageModel.Pname" />
                            <span asp-validation-for="PackageModel.Pname" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Location</label>
                            <input class="form-control" type="text" asp-for="PackageModel.Plocation" />
                            <span asp-validation-for="PackageModel.Plocation" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label class="form-label">Price</label>
                            <input class="form-control" type="number" step="0.01" asp-for="PackageModel.Pprice" />
                            <span asp-validation-for="PackageModel.Pprice" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Day - Night</label>
                            <input type="number" class="form-control" asp-for="PackageModel.Pday" />
                            <span asp-validation-for="PackageModel.Pday" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Upload Image</label>
                            <input asp-for="PackageModel.Pimg" type="file" class="form-control" />
                            <span asp-validation-for="PackageModel.Pimg" class="text-danger"></span>

                        </div>
                        <div class="col-md-12">
                            <label class="form-label" asp-for="PackageModel.Did">Destination Name</label>
                            <select asp-for="PackageModel.Did" asp-items="@(new SelectList(Model.DestinationList, "Did", "Dname"))" class="form-select">
                                <option value="">-- Select Destination --</option>
                            </select>
                            <span class="text-danger" asp-validation-for="PackageModel.Did"></span>
                            <span asp-validation-for="PackageModel.Did" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">Package Type</label>
                            <select asp-for="PackageModel.Package_Type" class="form-select">
                                <option value="">-- Select Type --</option>
                                <option value="regular">Regular</option>
                                <option value="festival">Festival</option>
                            </select>
                            <span class="text-danger" asp-validation-for="PackageModel.Package_Type"></span>
                        </div>


                        <div class="text-center">
                            <button type="submit" class="royalbutton col-md-12">Submit</button>
                        </div>
                    </form>
                    @if (TempData["PackageSuccess"] != null)
                    {
                        <div class="alert alert-success">@TempData["PackageSuccess"]</div>
                    }

                </div>
            </div>
        </div>


        @* Add Activities *@
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">Add Activities</h5>

                    <form asp-action="AddActivity" asp-controller="Admin" enctype="multipart/form-data" method="post" class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label" asp-for="ActivityModel.Adetail">Details</label>
                            <textarea asp-for="ActivityModel.Adetail" class="form-control"></textarea>
                            <span class="text-danger" asp-validation-for="ActivityModel.Adetail"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" asp-for="ActivityModel.Atime">Time</label>
                            <input class="form-control" type="time" asp-for="ActivityModel.Atime" />
                            <span class="text-danger" asp-validation-for="ActivityModel.Atime"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" asp-for="ActivityModel.Alocation">Location</label>
                            <input class="form-control" type="text" asp-for="ActivityModel.Alocation" />
                            <span class="text-danger" asp-validation-for="ActivityModel.Alocation"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" asp-for="ActivityModel.Aactivity">Activity</label>
                            <input asp-for="ActivityModel.Aactivity" class="form-control" />
                            <span class="text-danger" asp-validation-for="ActivityModel.Aactivity"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">Thumbnail</label>
                            <input asp-for="ActivityModel.Aimg" type="file" class="form-control" />
                            <span asp-validation-for="ActivityModel.Aimg" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" asp-for="ActivityModel.Did">Destination Name</label>
                            <select asp-for="ActivityModel.Did" asp-items="@(new SelectList(Model.DestinationList, "Did", "Dname"))" class="form-control">
                                <option value="">-- Select Destination --</option>
                            </select>
                            <span class="text-danger" asp-validation-for="ActivityModel.Did"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="royalbutton col-md-12">Submit</button>
                        </div>
                    </form>
                    @if (TempData["ActivitySuccess"] != null)
                    {
                        <div class="alert alert-success">@TempData["ActivitySuccess"]</div>
                    }


                </div>
            </div>
        </div>


        @* Add Places *@
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Places</h5>

                    <form method="post" asp-controller="Admin" asp-action="AddPlace" enctype="multipart/form-data" class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label">Place Details</label>
                            <input class="form-control" type="text" asp-for="PlaceModel.Pl_Detail" />
                            <span class="text-danger" asp-validation-for="PlaceModel.Pl_Detail"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Time</label>
                            <input class="form-control" type="time" asp-for="PlaceModel.Pl_Time" />
                            <span class="text-danger" asp-validation-for="PlaceModel.Pl_Time"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Location</label>
                            <input class="form-control" type="text" asp-for="PlaceModel.Pl_Location" />
                            <span class="text-danger" asp-validation-for="PlaceModel.Pl_Location"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Thumbnail</label>
                            <input type="file" class="form-control" asp-for="PlaceModel.Pl_Img" />
                            <span class="text-danger" asp-validation-for="PlaceModel.Pl_Img"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" asp-for="PlaceModel.Did">Destination</label>
                            <select class="form-select" asp-for="PlaceModel.Did" asp-items="@(new SelectList(Model.DestinationList, "Did", "Dname"))">
                                <option value="">-- Select Destination --</option>
                            </select>
                            <span class="text-danger" asp-validation-for="PlaceModel.Did"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="royalbutton col-md-12">Submit</button>
                        </div>
                    </form>
                    @if (TempData["PlaceSuccess"] != null)
                    {
                        <div class="alert alert-success">@TempData["ActivitySuccess"]</div>
                    }

                </div>
            </div>
        </div>


        @* Add Foods *@
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Foods</h5>

                    <form method="post" asp-controller="Admin" asp-action="AddFood" enctype="multipart/form-data" class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label" >Food Details</label>
                            <input class="form-control" type="text" asp-for="FoodModel.Fdetail" />
                            <span class="text-danger" asp-validation-for="FoodModel.Fdetail"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" >Restaurant Location</label>
                            <input class="form-control" type="text" asp-for="FoodModel.Flocation" />
                            <span class="text-danger" asp-validation-for="FoodModel.Flocation"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" >Thumbnail</label>
                            <input type="file" class="form-control" asp-for="FoodModel.Fimg" />
                            <span class="text-danger" asp-validation-for="FoodModel.Fimg"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" >Destination</label>
                            <select class="form-select" asp-for="FoodModel.Did" asp-items="@(new SelectList(Model.DestinationList, "Did", "Dname"))">
                                <option value="">-- Select Destination --</option>
                            </select>
                            <span class="text-danger" asp-validation-for="FoodModel.Did"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="royalbutton col-md-12">Submit</button>
                        </div>
                    </form>
                    @if (TempData["FoodSuccess"] != null)
                    {
                        <div class="alert alert-success">@TempData["FoodSuccess"]</div>
                    }
                </div>
            </div>
        </div>


        @* Add Tour Details *@
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Tour Details</h5>

                    <form method="post" asp-controller="Admin" asp-action="AddTour" enctype="multipart/form-data" class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label" >Title</label>
                            <input class="form-control" type="text" asp-for="TourModel.Tname" />
                            <span class="text-danger" asp-validation-for="TourModel.Tname"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" >Day</label>
                            <input class="form-control" type="number" asp-for="TourModel.Tday" />
                            <span class="text-danger" asp-validation-for="TourModel.Tday"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" >Pickup Point</label>
                            <input class="form-control" type="text" asp-for="TourModel.Tpickup" />
                            <span class="text-danger" asp-validation-for="TourModel.Tpickup"></span>
                        </div>

                         <div class="col-md-12">
                            <label class="form-label" >Package</label>
                            <select asp-for="TourModel.Pid" class="form-select"
                                    asp-items="@(new SelectList(Model.PackageList, "Pid", "Pname"))">
                                <option value="">-- Select Package --</option>
                            </select>
                            <span asp-validation-for="TourModel.Pid" class="text-danger"></span>
                            <span class="text-danger" asp-validation-for="TourModel.Pid"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" >Image 1</label>
                            <input type="file" class="form-control" asp-for="TourModel.Timg1" />
                            <span class="text-danger" asp-validation-for="TourModel.Timg1"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" >Image 2</label>
                            <input type="file" class="form-control" asp-for="TourModel.Timg2" />
                            <span class="text-danger" asp-validation-for="TourModel.Timg2"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" >Image 3</label>
                            <input type="file" class="form-control" asp-for="TourModel.Timg3" />
                            <span class="text-danger" asp-validation-for="TourModel.Timg3"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" >Image 4</label>
                            <input type="file" class="form-control" asp-for="TourModel.Timg4" />
                            <span class="text-danger" asp-validation-for="TourModel.Timg4"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" >Overview</label>
                            <textarea class="form-control" asp-for="TourModel.Toverview"></textarea>
                            <span class="text-danger" asp-validation-for="TourModel.Toverview"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" >Highlights</label>
                            <textarea class="form-control" asp-for="TourModel.Thighlights"></textarea>
                            <span class="text-danger" asp-validation-for="TourModel.Thighlights"></span>
                        </div>

                       
                        <div class="text-center">
                            <button type="submit" class="royalbutton col-md-12">Submit</button>
                        </div>
                    </form>
                    @if (TempData["TourSuccess"] != null)
                    {
                        <div class="alert alert-success">@TempData["TourSuccess"]</div>
                    }
                </div>
            </div>
        </div>


        @* Add Itinerary *@
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Itinerary </h5>

                    <form method="post" asp-controller="Admin" asp-action="AddItinerary" class="row g-3">
                       
                        <div class="col-md-12">
                            <label class="form-label" >Tour</label>
                            <select asp-for="ItineraryModel.Tid" class="form-select"
                                    asp-items="@(new SelectList(Model.TourList, "Tid", "Tname"))">
                                <option value="">-- Select Tour --</option>
                            </select>
                            <span class="text-danger" asp-validation-for="ItineraryModel.Tid"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" >Day 1</label>
                            <textarea class="form-control" asp-for="ItineraryModel.Iday1"></textarea>
                            <span class="text-danger" asp-validation-for="ItineraryModel.Iday1"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" >Day 2</label>
                            <textarea class="form-control" ></textarea>
                            <span class="text-danger" asp-validation-for="ItineraryModel.Iday2"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" >Day 3</label>
                            <textarea class="form-control" asp-for="ItineraryModel.Iday3"></textarea>
                            <span class="text-danger" asp-validation-for="ItineraryModel.Iday3"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" >Day 4</label>
                            <textarea class="form-control" asp-for="ItineraryModel.Iday4"></textarea>
                            <span class="text-danger" asp-validation-for="ItineraryModel.Iday4"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" >Day 5</label>
                            <textarea class="form-control" asp-for="ItineraryModel.Iday5"></textarea>
                            <span class="text-danger" asp-validation-for="ItineraryModel.Iday5"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" >Day 6</label>
                            <textarea class="form-control" asp-for="ItineraryModel.Iday6"></textarea>
                            <span class="text-danger" asp-validation-for="ItineraryModel.Iday6"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" >Day 7</label>
                            <textarea class="form-control" asp-for="ItineraryModel.Iday7"></textarea>
                            <span class="text-danger" asp-validation-for="ItineraryModel.Iday7"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="royalbutton col-md-12">Submit</button>
                        </div>
                    </form>
                    @if (TempData["ItinerarySuccess"] != null)
                    {
                        <div class="alert alert-success">@TempData["ItinerarySuccess"]</div>
                    }
                </div>
            </div>
        </div>


        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }

        @* @section Scripts { *@
        @*     <partial name="_ValidationScriptsPartial" /> *@
        @* } *@

    </div>
</section>
