@model TheRoyalTourism.Models.AdminDataTablesViewModel
@{
    ViewData["Title"] = "PackagesPage";
    if (Context.Session.GetString("UserEmail") == null)
    {
        Context.Response.Redirect("/Register/LoginPage");
    }
}
}

@* banner *@
<div class="prod_title" style="background-image: url('/Images/goa_package_banner.png');background-size:cover; background-attachment:fixed;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xl-8">
                <h1 class="text-white"> @foreach (var dest in Model.Destinations)
                    {@dest.Dname }
                    Bliss Packages</h1>
                <p class="mb-0 " style="color: #FFD700 !important;">Where Dreams Meet Tropical Reality</p>
            </div>
        </div>
    </div>
</div>
@* banner *@

@* about domestic *@
<section class="container">
    <div class="p-4 m-3 mt-5 shadow-lg rounded-3">
        <h4 class="domestic_title">
            About @foreach (var dest in Model.Destinations)
            {
                @dest.Dname
            } Tour Packages
        </h4>
        <p class="mt-3">
            Discover the tropical paradise of Goa, where golden beaches, vibrant nightlife, and rich cultural heritage come together to create the perfect getaway. From relaxing on sun-kissed shores and exploring ancient forts to immersing in vibrant markets and indulging in local seafood, Goa offers an unforgettable escape filled with adventure, relaxation, and excitement.
        </p>
    </div>
</section>
@* about domestic *@




@* Packages *@
<section class="packages-plan pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-4">
                    <h3 class="domestic_title fs-2">Royal Goa Dream Packages</h3>
                    <p class="mb-0 fw-medium">
                        Curated packages for your dream vacation, loved by travelers worldwide.
                    </p>
                </div>
            </div>

            @foreach (var package in Model.Packages)
            {
                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                    <div class="card" style="border-radius:15px;">
                        <div class="card-image">
                            <img src="~/uploads/@package.Pimg" class="img-fluid" loading="lazy" alt="@package.Pname">
                        </div>
                        <div class="card-content">
                            <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> @package.Plocation</div>
                            <h2 class="title">@package.Pname</h2>
                            <p class="price">
                                <span class="prim-txt">Starting @package.Pprice</span>
                                / EMI Available
                            </p>
                            <div class="duration">
                                <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> @package.Pday N</span>
                                <a asp-controller="Destination" asp-action="TourDetailsPage" asp-route-id="@package.Pid" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
@* Packages *@


@* Activity *@
<section class="packages-plan pb-5 mt-5 pt-5" style="background-color:#EEE8F6 !important;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title  mb-4">
                    <h3 class="domestic_title fs-2">Goa: A Journey of Sun, Sea, and Culture</h3>
                    <p class="mb-0 fw-medium ">
                        Discover Goa’s allure, where pristine beaches, rich Portuguese heritage, and vibrant nightlife come together. From the tranquil vibes of its quiet beaches to the energetic rhythm of its nightlife, Goa offers the perfect escape for every traveler. Explore the lively markets, indulge in delicious seafood, and experience the colorful festivals that make Goa a must-visit destination.
                    </p>
                </div>
            </div>

            @foreach (var a in Model.Activities)
            {
                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                    <div class="card" style="border:none;">
                        <div class="card-image">
                            <img src="~/uploads/@a.Aimg" class="img-fluid " style="border-radius:12px;" loading="lazy" alt="packages image">
                        </div>
                        <div class="card-content" style="background-color: #EEE8F6 !important;">
                            <div class="d-flex justify-content-center gap-5">
                                <div class="location ">
                                    <img src="/Images/Icons/time.png" loading="lazy" class="img-fluid me-1" alt="icon">
                                    @a.Atime Hours
                                </div>
                                <div class="location">
                                    <img src="/Images/Icons/location.png" loading="lazy" class="img-fluid me-1" alt="icon">
                                    @a.Alocation
                                </div>
                                <div class="location">
                                    <img src="/Images/Icons/activity.png" loading="lazy" class="img-fluid me-1" alt="icon">
                                    @a.Aactivity
                                </div>
                            </div>
                            <p class="price text-center ">
                                @a.Adetail
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
@* Activity *@


@* Places *@
<section class="packages-plan pb-5 mt-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title  mb-4">
                    <h3 class="domestic_title fs-2">Goa: Haven for Sun-Seekers and Wanderers</h3>
                    <p class="mb-0 fw-medium ">
                        Dive into Goa’s irresistible charm, where golden beaches, historic forts, and electrifying nightlife meet tranquil backwaters and vibrant festivals. Whether you're chasing adrenaline with water sports or unwinding by the sunset, Goa is a paradise that promises unforgettable experiences for every explorer.
                    </p>
                </div>
            </div>

            @foreach (var p in Model.Places)
            {
                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                    <div class="card" style="border:none;">
                        <div class="card-image">
                            <img src="~/uploads/@p.Pimg" class="img-fluid " style="border-radius:12px;" loading="lazy" alt="packages image">
                        </div>
                        <div class="card-content">
                            <div class="d-flex justify-content-center gap-5">
                                <div class="location ">
                                    <img src="/Images/Icons/time.png" loading="lazy" class="img-fluid me-1" alt="icon">
                                    @p.Ptime Hours
                                </div>
                                <div class="location">
                                    <img src="/Images/Icons/location.png" loading="lazy" class="img-fluid me-1" alt="icon">
                                    @p.Plocation
                                </div>
                            </div>
                            <p class="price text-center ">
                                @p.Pdetail
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
@* Places *@


@* food *@
<section class="packages-plan pb-5 mt-5 pt-5" style="background-color:#EEE8F6 !important;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title  mb-4">
                    <h3 class="domestic_title fs-2">Taste the Spirit of Goa: A Culinary Soirée Awaits!</h3>
                    <p class="mb-0 fw-medium ">
                        Dive into the flavorful world of Goa, where every dish is a blend of coastal zest and cultural legacy. From the iconic Fish Curry Rice to the smoky Vindaloo and freshly baked Bebinca, Goa’s culinary scene is a paradise for food lovers. Savor the fresh catch of the day, aromatic spices, and tropical influences that make every meal a celebration of life by the sea.
                    </p>
                </div>
            </div>

            @foreach (var f in Model.Foods)
            {
                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                    <div class="card" style="border:none;">
                        <div class="card-image">
                            <img src="~/uploads/@f.Fimg" class="img-fluid " style="border-radius:12px;" loading="lazy" alt="packages image">
                        </div>
                        <div class="card-content" style="background-color: #EEE8F6 !important;">
                            <div class="d-flex justify-content-center gap-5">
                                <div class="location">
                                    <img src="/Images/Icons/location.png" loading="lazy" class="img-fluid me-1" alt="icon">
                                    @f.Flocation
                                </div>
                            </div>
                            <p class="price text-center ">
                                @f.Fdetail
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
@* food *@



